@{
    ViewData["Title"] = "Contact";
}

<style>
    .col-md-7 {
        padding-left: 0px;
    }

    .col-md-5 {
        padding-bottom: 30px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <img style="background-repeat: no-repeat; background-position: bottom center;width:100%" src="~/images/1.jpg" title="Contact" alt="Contact" />
        </div>
        <div class="col-md-5">
            <h4><strong><span style="color: #000000;">ABX EXPRESS (M) SDN BHD</span></strong></h4>
            <p>Lot 651, 1st Floor Jalan Subang 1, Taman Perindustrian Sg Penaga, 47600 Subang Jaya, Selangor</p>
            <h4 style="padding-top: 12px;"><strong><span style="color: #000000;">Phone :</span></strong></h4>
            <p><i class="fa fa-phone" style="color: #ed6d00;"></i><a href="tel:03-80843111" style="color:black">+603 80843111</a></p>
            <h4 style="padding-top: 12px;"><strong><span style="color: #000000;">Email :</span></strong></h4>
            <p><i class="fa fa-envelope" style="color: #ed6d00;"></i> <a href="mailto:recruitment@abxexpress.com.my" style="color:black">recruitment@abxexpress.com.my</a></p>
            <h4 style="padding-top: 12px;"><strong><span style="color: #000000;">Follow Us :</span></strong></h4>
            <p><i class="fa fa-home" style="color: #ed6d00;"></i> <a href="https://abxexpress.com.my/" style="color:black" target="_blank">https://abxexpress.com.my/</a></p>
            <div class="a sm-mb-15px" style="font-size:13px; color:black;">
                <a href="https://facebook.com/abxexpressmy/" target="_blank" class="fa"><img src="~/images/4.png" title="Facebook" alt="Facebook" width="30" height="30" /></a>
                <a href="https://instagram.com/abxexpressmy/" target="_blank" class="fa"><img src="~/images/5.png" title="Instagram" alt="Instagram" width="30" height="30" /></a>
                <a href="https://www.linkedin.com/company/abxexpressmy" target="_blank" class="fa"><img src="~/images/6.png" title="LinkedIn" alt="LinkedIn" width="30" height="30" /></a>&nbsp;&nbsp;<b class="username">&#64;abxexpressmy</b>
            </div>
        </div>
    </div>
</div>