@{
    ViewData["Title"] = "Home";
}

<style>
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @*<li data-target="#myCarousel" data-slide-to="0" class="active"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/slide2.png" alt="slider1" class="img-responsive" style="width: 100%;" />
        </div>

        @*<div class="item">
                <a href="https://easyship.abxexpress.com.my/" target="_blank">

                    <img src="~/images/slide2.png" alt="slider2" class="img-responsive" style="width: 100%;" />
                </a>
            </div>*@
    </div>
    @*<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
</div>

<div class="row" style="text-align:center;">
    <h3 class="title" style="padding-bottom: 20px;padding-top: 20px;">How It Works ?</h3>
    <div class="col-md-4 service" style="padding-bottom: 40px;">
        <div class="box">
            <img style="height: 70px; width: 70px; background-repeat: no-repeat; background-position: bottom center;" src="~/images/1.png" title="EasyShip" alt="EasyShip" />
        </div>
        <div class="box">
            <h4>Create An Account</h4>
        </div>
        <h5>Provide us your specialities. <br />Drop your self information and resume.</h5>

    </div>
    <div class="col-md-4" style="padding-bottom: 40px;">

        <div class="icon c2">
            <img style="height: 70px; width: 70px; background-repeat: no-repeat; background-position: bottom center;" src="~/images/2.png" title="B2B" alt="B2B" />
        </div>
        <div class="box">
            <h4>Apply Jobs</h4>
        </div>
        <h5>Browse jobs list.<br />Explore our job opportunities.</h5>
    </div>
    <div class="col-md-4" style="padding-bottom: 40px;">

        <div class="icon c3">
            <img style="height: 70px; width: 70px; background-repeat: no-repeat; background-position: bottom center;" src="~/images/3.png" title="B2C" alt="B2C" />
        </div>
        <div class="box">
            <h4>Save & Apply</h4>
        </div>
        <h5>Send application. <br />We'll quickly match you with the right options !</h5>

    </div>
</div>