@model OJAWeb.Models.RegionModel

@{
    ViewData["Title"] = "Job Region";
}

@{
    Layout = "~/Views/Shared/_SuperadminLayout.cshtml";
}

<style>
    .btn {
        border-radius: 20px !important;
        background-color: #e96514;
        color: #ffffff !important;
        border: none;
        padding: 10px 40px;
        cursor: pointer;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        -webkit-appearance: none;
        padding: 7px 18px;
    }

        .btn:hover, .btn button:active, .btn:focus {
            background: #ffa31a;
        }

    a.btn {
        padding: 4px 12px 4px 12px;
        margin-top: 10px;
        margin-bottom: 12px
    }
    a:hover {
        color: #E96515;
    }

    nav.dropdown1 {
        padding-top: 50px;
        text-align: center;
        padding-bottom: 300px;
    }

    nav ul.itembox {
        margin-left: 0;
        padding-left: 0;
        width: 500px;
        list-style: none;
        position: relative;
        display: inline-table;
    }

    nav ul ul.itemList {
        display: none;
    }

    nav ul li:hover > ul.itemList {
        display: block;
    }

    nav ul li.itembox1 {
        float: left;
        width: 500px;
        text-align: left;
        border-bottom: 3px solid #e96514;
    }

        nav ul li.itembox1:hover {
            background: #f2f2f2;
        }

        nav ul li.itembox1 a {
            display: block;
            padding: 5px 5px;
            color: #2a2a2a;
            text-decoration: none;
        }

    nav ul ul.itemList {
        border-radius: 0px;
        padding: 0;
        position: absolute;
        top: 100%;
    }

        nav ul ul.itemList li {
            list-style: none;
            float: none;
            border-bottom: 2px solid #eaeaea;
            position: relative;
        }

            nav ul ul.itemList li a {
                padding: 5px 200px;
                color: #838383;
            }

                nav ul ul.itemList li a:hover {
                    background: #e96514;
                    color: #fff;
                }

    #down-triangle {
        float: right;
        width: 0;
        height: 0;
        margin-top: 10px;
        border-top: 10px solid #e96514;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }
</style>

<h3 class="title" style="text-align:center;padding-bottom: 10px;padding-top: 20px;">Jobs State</h3>
@using (Html.BeginForm("JobRegionList", "Superadmin", FormMethod.Post))
{
    <nav class="dropdown1">
        <ul class="itembox">
            <li class="itembox1">
                @Html.DropDownListFor(text => text.ID, Model.Region_List, "Please select state", new { @class = "form-control" })
                <ul class="itemList">
                    <li>
                    </li>
                </ul>
            </li>
        </ul>
        <button type="submit" class="btn" style="margin-bottom:30px">Choose</button>
    </nav>
}